<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Advanced Scheduled Publishing" description="Serialised items from Sitecore.Foundation.AdvancedScheduledPublishing">
					<targetDataStore physicalRootPath="D:\Projects\Aceik\Advanced-Scheduled-Publishing\src\Foundation\AdvancedScheduledPublishing\serialization" 
									 type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate>
						<include name="Templates" database="master" path="/sitecore/templates/Foundation/AdvancedScheduledPublishing"/>
						<include name="Tasks" database="master" path="/sitecore/system/Tasks/Commands/Scheduled Publish/Scheduled Publish"/>
					</predicate>

					<dataProviderConfiguration enableTransparentSync="false" />

					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
